body main{
    height: 600px;
}

header {
    background-color: black;
    height: 150px;
    color: blanchedalmond;
    
}

#one{
    width: auto;
    height: 100px;
    margin: 20px auto 0px auto;
    color: rgb(206, 14, 14);
    text-align: center;
    font-size: 65px;
    padding-top: 15px;
    font-weight: bolder;
}

header nav ul li {
    height: 15px;
    display: inline;
    text-decoration: none;
    margin-left: 20px;
}
header nav ul li a{
    text-decoration: none;
    color:rgb(209, 43, 43) ;
    font-weight: bolder;
    font-size: 25px;
}
nav{
margin-top: -5px;

}

header nav ul{
    text-decoration: none;
}

.intro{
    height: 200px;
    font-size: 35px;
    font-weight: 200;
    background-color: rgb(126, 100, 35);
    font-style: oblique;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
}


img{
    width: 500px;
    height: 750px;
    border: solid;
    position: relative;
    left: 10px;
    margin-top: 30px;
    top: 50px;
}

#section1{
    background-color: brown;
    position: relative;
    left: 50%;
    width: 500px;
    top: -765px;
    height: 450px;
    border: black solid;
}


.top10{
    width: 491px; ;
    background-color: whitesmoke;
    height: 70px;
    font-size: 45px;
    padding-left: 5px;
    padding-top: 5px;
    border: solid;
    font-weight: bolder;
}
.sports{
    width: 500px; ;
    height: 330px;
    font-size: 25px;
    padding-left: 5px;
    font-weight: lighter;
    color: whitesmoke;
}
.sports li{
    padding-top: 10px;
    
}

#section2{
position: relative;
left: 50%;
bottom: 745px;
}
.edu{
    width: 495px; ;
    background-color: rgb(19, 17, 17);
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    border: solid;
    color: whitesmoke;
    
    
}

#section2 .div1 h3{
    color:rgb(206, 14, 14) ;
    font-size: 45px;
    
}
#section2 .div2 h3{
    color:rgb(206, 14, 14) ;
    font-size: 45px;
}

footer{
    height: 60px;
    background-color: black;
    border: solid whitesmoke;
     position: relative;
    top: 600px;
    width: auto;
    
}

footer h4{
    color: red;
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    
}
